//<div class="field-ui" data-reactid=".0.2.4:$timeValue:0.1"><input type="text" name="timeValue_date" value="2016-09-19" placeholder="e.g. 2016-09-19" autocomplete="off" class="form-control" data-reactid=".0.2.4:$timeValue:0.1.0"><input type="text" name="timeValue_time" value="2:17:56 pm" placeholder="e.g. 2:22:04 pm" autocomplete="off" class="form-control time" data-reactid=".0.2.4:$timeValue:0.1.1" style="cursor: auto; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);"><button type="button" class="btn btn-default btn-set-now" data-reactid=".0.2.4:$timeValue:0.1.2">Now</button></div>


h1 test