extends ../layouts/default

block content
    .container: .jumbotron
        img(src='/images/logo.svg', width='160')
        h1 Welcome
        p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
        p It includes the latest versions of
            | <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
            | and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
        p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
        hr
        if user && user.canAccessKeystone
            p
                a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
        else
            p We have created a default Admin user for you with the email <strong>enea.tsanai@gmail.com</strong> and the password <strong>admin</strong>.
            p
                a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
                |  to use the Admin UI.
        hr
        p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
            | <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.

    .container-fluid
        .page-header
            h1 GeoSyntec OptiRTC
        .row
            .col-sm-2
                //
                  <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">GEOsync</a>
                  </div>
                .row
                    #myNavbar.collapse.navbar-collapse
                        ul.nav.nav-pills.nav-stacked
                            h3 Admin
                            li.active
                                a(href='#') Home
                            li
                                a.dropdown-toggle(data-toggle='dropdown', href='#')
                                    | Sites
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='#')
                                            | Constructed Stormwater
                                            | Wetland
                                    li
                                        a(href='#') Green Roof
                                    li
                                        a(href='#') Treatment Train
                            li
                                a.dropdown-toggle(data-toggle='dropdown', href='#')
                                    | Project Partners
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='http://www.geosyntec.com/UI/Default.aspx')
                                            | Geosyntec
                                            | Consultants
                                    li
                                        a(href='http://www.optirtc.com') OptiRTC
                            li
                                a(href='#') Broader Context Partners
                            // create partners list page
                            li
                                a(href='map') Map Tool
                .row
                    #myNavbar.collapse.navbar-collapse
                        ul.nav.nav-pills.nav-stacked
                            h3 Personnel
                            li
                                a(href='#') VU
                            li
                                a(href='#') UPenn
                            // come up with personell info pages?
                //
                  <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  </ul>
                // Maybe it's best to include the H3 Tages as the first items in the list...?
            .col-sm-10
                div
                    h3 Information
                    p
                        | This NSF funded research program focuses on technological
                        | innovations with potential for significant economic
                        | and societal impact. A pressing social and environmental
                        | issue on a national scale is the effect of
                        | stormwater on waterbody impairment, particularly in urban
                        | and suburban watersheds.
                        | Impairment is caused by stormwater runoff increasing stream
                        | volume and flow rates that result in
                        | hydromodification in streams, stream erosion and
                        | sedimentation, flooding, and overflows in
                        | combined sewer systems. In addition, stormwater diminishes
                        | water quality by adding pollutants (e.g.,
                        | solids, nutrients, metals) as it runs over land and into
                        | streams.
                    p
                        | To successfully reduce pollution, municipalities must adopt
                        | innovative technologies at all stages of implementation,
                        | operation, and maintenance. One approach utilizes stormwater
                        | green infrastructure (GI), such as
                        | bioretention, constructed wetlands, vegetated roofs, and
                        | cisterns. Green infrastructure reduces
                        | watershed runoff volume, decreases runoff discharge rates
                        | through the watershed, and promotes
                        | infiltration and evapotranspiration to better mimic an
                        | undeveloped hydrologic cycle and filter water
                        | quality pollutants. Green infrastructure is becoming the
                        | preferred method of stormwater
                        | management, not only for small parcels of land but entire
                        | municipalities. A number of cities across
                        | the U.S. (e.g., New York, Washington D.C., Omaha, Austin,
                        | Cincinnati, and Seattle) are turning to
                        | GI to mitigate stormwater pollution issues. Despite the
                        | promise of GI systems to effectively address
                        | stormwater issues, adoption has been slow due to several
                        | factors, which can be classified generally as
                        | technological and human.
                    p
                        | This project is an academic-industry research partnerships to
                        | address the central issue of identifying and advancing key
                        | platform technologies so as
                        | to enable “smart” service systems to enter into the
                        | commercialization process and to help insure
                        | positive social outcomes that would result from successful
                        | commercialization”, the proposal has the
                        | following goals:
                    ul
                        li
                            | Develop new monitoring and control algorithms
                            | integrated into a platform technology,
                            | OptiRTC, that automatically monitors and controls
                            | stormwater GI systems to:
                        ul
                            li
                                | Optimize performance of GI systems for water
                                | quantity and quality
                            li
                                | Self-correct and maximize efficiency of GI
                                | systems
                            li  Minimize operation and maintenance costs
                            li
                                | Integrate policy directly into design and
                                | operation
                        li
                            | Accelerate the implementation of state-of-the-art smart
                            | stormwater services to increase the
                            | potential applications and market value of OptiRTC and
                            | meet national, regional, and local policy and
                            | financing needs in stormwater management
                        li
                            | Enable synergistic activities to grow and develop
                            | academic and research faculty and the
                            | industry partner through interdisciplinary and
                            | cross-organizational collaboration and prepare
                            | graduate research students to become the next generation
                            | of professionals with an understanding of
                            | technology enterprise
                        li  Incite innovation in secondary markets
                        li
                            | Encourage GI implementation across scales as the
                            | benefits become clearer
                        ul
        .row
            .col-sm-2
                #myNavbar.collapse.navbar-collapse
                    ul.nav.nav-pills.nav-stacked
                        h3 Resources
                        li
                            a(href='#') Menu 1
                        li
                            a(href='#') Menu 2
                        li
                            a(href='#') Menu 3
            .col-sm-6
                h3  news Image?
            .col-sm-4
                h3
                    | News feed
                    h3

