.split-pane {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .split-pane.fixed-top > .split-pane-component, .split-pane.fixed-top > .closed, .split-pane.fixed-top > .minimized-l, .split-pane.fixed-top > .minimized-r, .split-pane.fixed-top > .maximized-l, .split-pane.fixed-top > .maximized-r,
  .split-pane.fixed-bottom > .split-pane-component,
  .split-pane.fixed-bottom > .closed,
  .split-pane.fixed-bottom > .minimized-l,
  .split-pane.fixed-bottom > .minimized-r,
  .split-pane.fixed-bottom > .maximized-l,
  .split-pane.fixed-bottom > .maximized-r,
  .split-pane.horizontal-percent > .split-pane-component,
  .split-pane.horizontal-percent > .closed,
  .split-pane.horizontal-percent > .minimized-l,
  .split-pane.horizontal-percent > .minimized-r,
  .split-pane.horizontal-percent > .maximized-l,
  .split-pane.horizontal-percent > .maximized-r {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: auto;
    top: auto;
    bottom: 0;
    z-index: 1; }
  .split-pane.fixed-top > .split-pane-component:first-child, .split-pane.fixed-top > .closed:first-child, .split-pane.fixed-top > .minimized-l:first-child, .split-pane.fixed-top > .minimized-r:first-child, .split-pane.fixed-top > .maximized-l:first-child, .split-pane.fixed-top > .maximized-r:first-child,
  .split-pane.fixed-bottom > .split-pane-component:first-child,
  .split-pane.fixed-bottom > .closed:first-child,
  .split-pane.fixed-bottom > .minimized-l:first-child,
  .split-pane.fixed-bottom > .minimized-r:first-child,
  .split-pane.fixed-bottom > .maximized-l:first-child,
  .split-pane.fixed-bottom > .maximized-r:first-child,
  .split-pane.horizontal-percent > .split-pane-component:first-child,
  .split-pane.horizontal-percent > .closed:first-child,
  .split-pane.horizontal-percent > .minimized-l:first-child,
  .split-pane.horizontal-percent > .minimized-r:first-child,
  .split-pane.horizontal-percent > .maximized-l:first-child,
  .split-pane.horizontal-percent > .maximized-r:first-child {
    top: 0;
    bottom: auto; }
  .split-pane.fixed-top > .split-pane-divider,
  .split-pane.fixed-bottom > .split-pane-divider,
  .split-pane.horizontal-percent > .split-pane-divider {
    position: absolute;
    width: 100%;
    left: 0;
    cursor: row-resize;
    z-index: 2; }
  .split-pane.fixed-top > .split-pane-divider > .split-pane-divider-inner,
  .split-pane.fixed-bottom > .split-pane-divider > .split-pane-divider-inner,
  .split-pane.horizontal-percent > .split-pane-divider > .split-pane-divider-inner {
    position: absolute;
    top: -5px;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding: 5px 0; }
  .split-pane.fixed-left > .split-pane-component, .split-pane.fixed-left > .closed, .split-pane.fixed-left > .minimized-l, .split-pane.fixed-left > .minimized-r, .split-pane.fixed-left > .maximized-l, .split-pane.fixed-left > .maximized-r,
  .split-pane.fixed-right > .split-pane-component,
  .split-pane.fixed-right > .closed,
  .split-pane.fixed-right > .minimized-l,
  .split-pane.fixed-right > .minimized-r,
  .split-pane.fixed-right > .maximized-l,
  .split-pane.fixed-right > .maximized-r,
  .split-pane.vertical-percent > .split-pane-component,
  .split-pane.vertical-percent > .closed,
  .split-pane.vertical-percent > .minimized-l,
  .split-pane.vertical-percent > .minimized-r,
  .split-pane.vertical-percent > .maximized-l,
  .split-pane.vertical-percent > .maximized-r {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: auto;
    left: auto;
    right: 0;
    z-index: 1; }
  .split-pane.fixed-left > .split-pane-component:first-child, .split-pane.fixed-left > .closed:first-child, .split-pane.fixed-left > .minimized-l:first-child, .split-pane.fixed-left > .minimized-r:first-child, .split-pane.fixed-left > .maximized-l:first-child, .split-pane.fixed-left > .maximized-r:first-child,
  .split-pane.fixed-right > .split-pane-component:first-child,
  .split-pane.fixed-right > .closed:first-child,
  .split-pane.fixed-right > .minimized-l:first-child,
  .split-pane.fixed-right > .minimized-r:first-child,
  .split-pane.fixed-right > .maximized-l:first-child,
  .split-pane.fixed-right > .maximized-r:first-child,
  .split-pane.vertical-percent > .split-pane-component:first-child,
  .split-pane.vertical-percent > .closed:first-child,
  .split-pane.vertical-percent > .minimized-l:first-child,
  .split-pane.vertical-percent > .minimized-r:first-child,
  .split-pane.vertical-percent > .maximized-l:first-child,
  .split-pane.vertical-percent > .maximized-r:first-child {
    left: 0;
    right: auto; }
  .split-pane.fixed-left > .split-pane-divider,
  .split-pane.fixed-right > .split-pane-divider,
  .split-pane.vertical-percent > .split-pane-divider {
    position: absolute;
    height: 100%;
    top: 0;
    cursor: col-resize;
    z-index: 2; }
  .split-pane.fixed-left > .split-pane-divider > .split-pane-divider-inner,
  .split-pane.fixed-right > .split-pane-divider > .split-pane-divider-inner,
  .split-pane.vertical-percent > .split-pane-divider > .split-pane-divider-inner {
    position: absolute;
    top: 0;
    left: -5px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding: 0 5px; }

.split-pane-resize-shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none; }

.split-pane.fixed-left > .split-pane-resize-shim,
.split-pane.fixed-right > .split-pane-resize-shim,
.split-pane.vertical-percent > .split-pane-resize-shim {
  cursor: col-resize; }

.split-pane.fixed-top > .split-pane-resize-shim,
.split-pane.fixed-bottom > .split-pane-resize-shim,
.split-pane.horizontal-percent > .split-pane-resize-shim {
  cursor: row-resize; }

#top-navbar {
  box-shadow: 0px 0px 5px #000000;
  border-color: #908585;
  z-index: 2; }
  #top-navbar a.navbar-brand {
    color: #9EC1AE; }

/* Splitter */
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }

.main-split-pane-frame {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 51px;
  background: silver; }

.main-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease; }

.split-pane-component, .closed, .minimized-l, .minimized-r, .maximized-l, .maximized-r, .split-pane-divider {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.split-pane-divider {
  background-color: #7B8186;
  box-shadow: 2px 0px 10px #B5B5B5; }

.invisible {
  width: 0;
  display: none; }

.closed {
  min-width: 0; }

.minimized-l {
  min-width: 320px;
  margin-right: 5px; }

.minimized-r {
  min-width: 497px; }

@media screen and (min-width: 845px) {
  .maximized-l {
    min-width: 320px; } }

@media screen and (max-width: 845px) {
  .maximized-l {
    width: 100%; } }

@media screen and (min-width: 845px) {
  .maximized-r {
    min-width: 497px; } }

@media screen and (max-width: 845px) {
  .maximized-r {
    width: 100%; } }

#left-component {
  background-color: #F8F8F8; }

.split-pane-divider {
  width: 5px; }

#right-component {
  width: 100%; }

div .fast-drag {
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease; }

/* Dashboard */
#dashboard-wrapper {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

#dashboard-wrapper .tab-content {
  padding: 7px; }
  @media only screen and (min-width: 1024px) {
    #dashboard-wrapper .tab-content {
      padding-left: 5%;
      padding-right: 5%; } }

@media screen and (max-width: 845px) {
  #maximize {
    display: none; } }

#sensor-data-viz, #sensor-data-viz-2 {
  border: dotted;
  margin: 10px auto;
  margin-bottom: 30px;
  width: 240px;
  height: 240px; }

/* Combined Graphs Area */
.tab-plot .row {
  margin: 0; }

.checkbox-toolbar {
  margin: 0 auto;
  overflow: hidden;
  width: 90%; }

.checkbox-toolbar div {
  margin: 0px 10px 10px 10px; }

#combined-graphs-menu .combined-graphs-menu-item {
  text-align: center;
  margin: auto; }

.graphs-plot-button {
  margin: 15px 15px; }

.col-sm-4 div {
  margin: 0 auto; }

div.dashboard-small > h4 {
  font-size: smaller; }

.dashboard-small {
  font-size: smaller; }

.navbar-dash {
  padding-right: 5px;
  border-color: #3a9da5 !important;
  border-width: 3px !important;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  margin-bottom: 10px !important; }

.panel-dash {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  border: none; }

.panel-body-dash {
  background-color: white; }

.panel-heading-dash {
  background-color: #e4e7ea; }
  .panel-heading-dash a {
    font-size: 14px;
    font-weight: 500; }
  .panel-heading-dash a:link, .panel-heading-dash a:active {
    text-decoration: none;
    font-size: 15px;
    font-weight: 900; }
  .panel-heading-dash a:hover, .panel-heading-dash a:visited {
    text-decoration: none; }

.panel-heading a:after {
  font-family: 'Glyphicons Halflings';
  content: "\e159";
  float: right; }

.panel-heading a.collapsed:after {
  content: "\e158"; }

.graph-toolbar .panel-heading a.collapsed:after,
#data-viewer-filters .panel-heading a.collapsed:after {
  content: none; }

.graph-toolbar .panel-heading a:after,
#data-viewer-filters .panel-heading a:after {
  content: none; }

.graph-toolbar .panel-heading a:before,
#data-viewer-filters .panel-heading a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e259";
  float: left; }

.graph-toolbar .panel-heading a.collapsed:before,
#data-viewer-filters .panel-heading a.collapsed:before {
  content: "\e258"; }

.graph-toolbar .panel-heading,
#data-viewer-filters .panel-heading {
  background-color: #FFFFFF; }

.graph-toolbar .panel,
#data-viewer-filters .panel {
  border: none; }

.graph-toolbar p.panel-title,
#data-viewer-filters p.panel-title {
  font-size: smaller; }

/* Map Area */
#map-toolbar {
  z-index: 2;
  background: transparent;
  margin: 9px auto;
  box-shadow: 0px 0px 1px #4A4A3D; }

#map-toolbar button {
  border-radius: 0; }

#map-toolbar-wrapper {
  position: absolute;
  width: 100%; }

#map-area {
  padding: 0px;
  margin: 0 auto;
  z-index: 1; }

#map-canvas {
  width: 100%;
  height: 100%; }

.navbar {
  margin-bottom: 0px; }

/* Site Balloon */
.sketchup-model {
  position: relative; }

.site-overview-balloon {
  width: 395px;
  height: 400px;
  overflow: hidden; }

.site-overview-balloon-header {
  position: relative;
  width: inherit;
  left: 0px;
  background-color: white; }

.site-overview-balloon-tab {
  padding: 10px 0px 10px 5px; }

.site-overview-balloon-tab > div {
  height: 305px;
  overflow-x: hidden;
  overflow-y: scroll; }

/* Dygraphs */
.dygraph-legend {
  font-size: 10px;
  padding-left: 0px; }

.dygraph-legend > span.highlight {
  border: 1px solid grey;
  border-radius: 2px; }

.dygraph-toolbar {
  padding: 3px; }

@media only screen and (max-width: 767px) {
  .dygraph-toolbar > h4 {
    font-size: small; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .dygraph-toolbar > h4 {
    font-size: smaller; } }

@media only screen and (min-width: 1024px) {
  .dygraph-toolbar > h4 {
    font-size: medium; } }

.dygraph-title {
  margin-left: 56px; }
  @media only screen and (max-width: 767px) {
    .dygraph-title {
      font-size: small; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .dygraph-title {
      font-size: medium; } }
  @media only screen and (min-width: 1024px) {
    .dygraph-title {
      font-size: medium; } }

body {
  background-color: white; }

/*<!--.dygraph-legend {*/
/*<!--background-color: rgba(215, 227, 250, 1) !important;-->*/
/*<!--padding: 4px;-->*/
/*<!--border: 1px solid #000;-->*/
/*<!--border-radius: 10px;-->*/
/*<!--box-shadow: 4px 4px 4px #888;-->*/
/*<!--pointer-events: none;-->*/
/*<!--}-->*/
@media only screen and (max-width: 767px) {
  .btn-responsive {
    padding: 2px 4px;
    font-size: x-small;
    line-height: 1;
    border-radius: 3px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .btn-responsive {
    padding: 4px 9px;
    font-size: smaller;
    line-height: 1.2; } }

@media only screen and (min-width: 1024px) {
  .btn-responsive {
    padding: 4px 9px;
    font-size: smaller;
    line-height: 1.2; } }

.btn-responsive-small {
  padding: 2px 4px;
  font-size: x-small;
  line-height: 1;
  border-radius: 3px; }

.graph-container, .graph-container-desk {
  display: inline-block;
  position: relative; }

.graph-container:after {
  padding-top: 75%;
  display: block;
  content: ''; }

.graph-container-desk:after {
  padding-top: 50%;
  display: block;
  content: ''; }

.dygraph-plot {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

#l-metrics {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px; }

@media only screen and (max-width: 767px) {
  .dygraph-plot-and-toolbar-wrapper {
    margin-top: 20px;
    margin-bottom: 20px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .dygraph-plot-and-toolbar-wrapper {
    margin-top: 30px;
    margin-bottom: 30px; } }

@media only screen and (min-width: 1024px) {
  .dygraph-plot-and-toolbar-wrapper {
    margin-top: 50px;
    margin-bottom: 50px; } }

/* Various */
h3 .panel-heading {
  display: inline-block; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  background: #F8F8F8; }

#test {
  background-color: #bc6753; }

.alert .glyphicon {
  display: table-cell; }

.alert div,
.alert span {
  padding-left: 5px;
  display: table-cell; }
