<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="../static/js/image-maps.js"></script>
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
	<link href="../static/css/test.css" rel="stylesheet">

		<style>
	body {
		font-family: Helvetica, Arial, sans-serif;
	}
	h1 {
		font-size: 20px;
	}
	div {
		width: 100%;
	}
	img[usemap] {
		border: none;
		height: auto;
		max-width: 100%;
		width: auto;
	}
	</style>
</head>
<body>
	<p>Use http://imagemap-generator.dariodomi.de/ to get polygons from image. Check if can use layers and how to highlight.. Check http://davidlynch.org/projects/maphilight/docs/</p>
	<form name="myform">
		<input type="text" name="stage" size="20"/>
	</form>

	<!-- Create  Mappings -->
	<img src="../../static/img/model1.png" alt="HTML Map" border="0" usemap="#tutorials"/>

	<map name="tutorials">




		<area alt="" title="" href="#" shape="poly" coords="434,499,492,499,492,578,433,578" />
		<area alt="" title="" href="#" shape="poly" coords="517,399,562,401,562,445,517,445" />
		<area alt="" title="" href="#" shape="poly" coords="517,197,561,197,562,248,517,247" />
		<area alt="" title="" href="#" shape="poly" coords="517,321,521,309,533,298,547,298,557,305,561,316,561,334,543,344,529,343,519,334" />

		<area shape="circle"
			  coords="73,168,32"
			  href="/php/index.htm" alt="PHP Tutorial"
			  target="_self"
			  onMouseOver="showTutorial('php')"
			  onMouseOut="showTutorial('')"/>
	</map>
</body>

<script>
$(document).ready(function(e) {
	$('img[usemap]').rwdImageMaps();

	$('area').on('click', function() {
		alert($(this).attr('alt') + ' clicked');
	});
});
</script>
</html>